<nav>
    <a href="">
        <p class="nav-name">Home</p><img src="../../assets/icons/home.png" alt="" >
    </a>
    <a href="">
        <p class="nav-name" >Albums & Singles</p><img src="../../assets/icons/disc.png" alt="">
    </a>
    <a href="">
        <p class="nav-name" >Artists</p><img src="../../assets/icons/artists.png" alt="">
    </a>
    <a href="">
        <p class="nav-name">Artwork</p><img src="../../assets/icons/artwork.png" alt="">
    </a>
    <a href="">
        <p class="nav-name">Contact us</p><img src="../../assets/icons/contact.png" alt="">
    </a>
</nav>